<div class="tasky-form text-center">
    <h1>New Task</h1>
    <div class="form-group">
        <input type="text" class="form-control input-lg" autofocus placeholder="Add new Task" #taskText>
        <br>
        <button (click)="addTask($event, taskText)" class="btn btn-success btn-block">Add task</button>
    </div>
</div>

<div class="task-list">
    <div *ngIf="tasks">
        <div *ngFor="let task of tasks">
            <div class="col-md-1">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                </label>
            </div>
            <div class="col-md-7">
                {{task.text}}
            </div>
            <div class="col-md-4 btn-sm">
                <input type="button" class="btn btn-danger btn-sm pull-right" value="Delete">
                <input type="button" class="btn btn-default btn-sm pull-right" value="Edit">
            </div>
        </div>
    </div>
</div>