<div class="tasky-form text-center">
    <h1>New Task</h1>
    <div class="form-group">
        <input type="text" class="form-control input-lg" autofocus placeholder="Add new Task" #taskText>
        <br>
        <button (click)="addTask($event, taskText)" class="btn btn-success btn-block">Add task</button>
    </div>
</div>

<div class="task-list">
    <div *ngIf="tasks">
        <div *ngFor="let task of tasks">
            <div class="col-md-1">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" [checked]="task.isCompleted" (click)="updateTaskStatus(task)">
                </label>
            </div>
            <div class="col-md-7">
                <span [hidden]="task.isEditMode">{{task.text}}</span>
                <!--<span *ngIf="!task.isEditMode">{{task.text}}</span>-->
                <!--<span *ngIf="!task.isEditMode">{{task.text}} {{task._id}}</span>-->
                <!--<input type="text" *ngIf="task.isEditMode" [value]="task.text" (keypress)="updateTaskText($event, task)">-->
                <input type="text" [hidden]="!task.isEditMode" [value]="task.text" (keypress)="updateTaskText($event, task)">
                <input type="button" [hidden]="!task.isEditMode" value="cancel" (click)="setEditState(task, false)" class="btn btn-warning btn-sm">
            </div>
            <div class="col-md-4 btn-sm action-buttons">
                <button type="button" class="btn btn-danger btn-sm pull-right" (click)="deleteTask(task)"><i class="fa fa-trash"></i> Delete</button>
                <button type="button" [class.disabled]="task.isCompleted" (click)="setEditState(task, true)" class=" btn btn-default btn-sm pull-right"><i class="fa fa-pen"></i>Edit</button>
            </div>
        </div>
    </div>
</div>